## Setup

Para obtenção dos dados de performance, foi efetuado a seguinte configuração:

Na Raspberry Pi, utilizou-se o iPerf 3 com a seguinte sintaxe:

`$ iperf3 -s -D      #  rodar como servidor e daemon`

No computador atacante, foi definido a operação como cliente via iPerf3:

`$ iperf3 -c IP_Raspberry -t 1200     # 1200 segundos`

Ao mesmo tempo que se inicia o cliente do iPerf3, inicia-se a gravação dos parâmetros via [sar](https://linux.die.net/man/1/sar):

`$ sar -r ALL -n ALL -u ALL -o arquivo_de_saida 1 1200`

In [12]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline

Para a geração do _csv_, utilizou-se a ferramenta [sadf](https://linux.die.net/man/1/sadf):

`$ sadf --iface=wlan0 -d -h -- -r ALL -n ALL -u ALL arquivo_de_saida > arquivo.csv`

Isso foi feito para o arquivo gerado na configuração com e sem LKM carregado

In [29]:
with_lkm = pd.read_csv('with_lkm.csv', sep=';')
without_lkm = pd.read_csv('without_lkm.csv', sep=';')

In [30]:
with_lkm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Columns: 190 entries, # hostname to flw_lim/s[...]
dtypes: float64(159), int64(27), object(4)
memory usage: 1.7+ MB

- **%memused** - Percentage of used memory
- **%sys** - Percentage of CPU utilization that occurred while executing at the system level (kernel). Note that this field does NOT include time spent servicing hardware or software interrupts.

Referência: https://linux.die.net/man/1/sar

In [46]:
features = ['%sys', '%memused', 'rxdrop/s']

In [47]:
without_lkm[features].describe()

              %sys     %memused  rxdrop/s
count  1200.000000  1200.000000    1200.0
mean      7.737342    10.936492       0.0
std       3.118371     0.068467       0.0
min       0.750000    10.790000       0.0
25%       5.257500    10.890000       0.0
50%       7.530000    10.940000       0.0
75%       9.862500    10.970000       0.0
max      18.520000    11.600000       0.0

In [48]:
with_lkm[features].describe()

              %sys     %memused  rxdrop/s
count  1200.000000  1200.000000    1200.0
mean      7.779275    11.346883       0.0
std       2.894837     0.084074       0.0
min       0.760000    11.180000       0.0
25%       5.517500    11.310000       0.0
50%       7.620000    11.350000       0.0
75%       9.905000    11.380000       0.0
max      16.630000    12.190000       0.0